$menu-border-color: rgba(255, 255, 255, 0.5);
$menu-hover-color: rgba(255, 255, 255, 0.3);
$menu-fg-color: #ccc;
$menu-label-height: 3.5rem;
$menu-icon-color: $menu-fg-color;

// Desktop
$topbar-height: 3rem;
$topbar-bg: #fff;
$topbar-active-bg: #f0f0f0;
$sidebar-bg: linear-gradient(45deg, #0f1e48, #1d6d7d);
$sidebar-fg: #fff;
$topbar-icons-width: 10rem;
$sidebar-width: 20rem;
$task-item-width: 20rem;
$taskbar-border-color: #ccc;
$taskbar-border-active-color: #1d6d7d;

// Finder
$finder-scrollbar-color: #f0f0f0;
$finder-title-height: 3rem;